<h1><%= t("tasks.title.show")%></h1>

<p>
  <strong><%= t('activerecord.attributes.task.title')%></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.content')%></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.created_at')%></strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>終了期限</strong>
  <%= @task.deadline_on %>
</p>

<p>
  <strong>優先度</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>ステータス</strong>
  <%= @task.status %>
</p>

<p>
  <strong>ラベル</strong>
  <%= @task.labels.map(&:name) %>
</p>

<%= link_to t("tasks.link.edit"), edit_task_path(@task), id: "edit-task" %> |
<%= link_to t("tasks.link.back"), root_path, id: "back" %>