<h1 id="label-edit-page">ラベル編集ページ</h1>

<% if @label.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @label, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name, "名前", id: "label-name" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "更新する", id: "update-label", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to '戻る', labels_path, id: 'back', class: 'btn btn-secondary' %>
