<h1 id="label-registration-page">ラベル登録ページ</h1>

<% if @label.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @label.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @label, local: true do |form| %>
  <div class="field">
    <%= form.label :name, "名前", id: "label-name" %><br>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "登録する", id: "submit-label", class: 'btn btn-primary' %>
  </div>
<% end %>
