<h1>ユーザ登録ページ</h1>
<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> があります:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "パスワード（確認）" %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :admin, id: 'user-admin', class: 'form-check-input' %>
    <%= form.label :admin, '管理者権限', class: 'form-check-label', id: 'user-admin-label' %>
  </div>

  <div class="actions">
    <%= form.submit '登録する', id: 'create-user', class: 'btn btn-primary' %>
  </div>
<% end %>
