<h1>ユーザ登録ページ</h1>
<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> があります:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, "パスワード（確認）" %><br>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= form.label :admin, '管理者権限', id: 'user-admin-label' %><br>
    <%= form.check_box :admin, id: 'user-admin' %>
  </div>

  <div class="actions">
    <%= form.submit '登録する', id: 'create-user' %>
  </div>
<% end %>